<h1 align="center"> <%= @article.title %> </h1>
<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center description"><strong>Description:</strong></h4>
<hr>
<%= simple_format(@article.description) %>
  <div class="article-actions">
  <%= link_to "Edit Article",edit_article_path(@article),class:"btn btn-xs btn-primary" %>
  <%= link_to "Delete Article", article_path(@article), method: :delete,
                  data:{ confirm:"are you sure,you want to delte the article?"},
                  class:"btn btn-xs btn-danger" %>
  </div>
</div>
  <div class="col-xs-8 cols-xs-offset-2">
       <%= link_to "back",articles_path %>
    
  </div>



